#sortingBar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

#toolbar {
  display: flex;
  justify-content: flex-start;
}

#viewAgendaIcon {
  display: flex;
  justify-content: flex-end;
}

#best {
  margin-left: 5px;
}

#hot {
  margin-left: 5px;
}

#new {
  margin-left: 5px;
}

#top {
  margin-left: 5px;
}
