#mainComponent {
  position: relative;
  left: 40px;
}

#DefaultSizePostTopBar {
  display: flex;
  flex-direction: row;
  width: 582;
  height: 21.3;
  background-color: aqua;
  margin: 8px;
}

#DefaultSizePostTopBarDetails {
  display: flex;

  flex-direction: row;
}
