#leftComponent {
  width: 20%;
  background-color: #0b1416;
}

.sideBarNavigationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}

.navigationButtonIcons {
  padding-right: 10px;
}
