.imageSubreddit {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  margin-right: 15px;
}

.imageSubredditBox {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.imageSubredditAnchor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#containedButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-right: 15px;
}

.subRedditContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-bottom: 0;
}

#joinButton {
  border-radius: 50px;
  height: 24px;
  font-size: 12px;
  font-weight: 1000;
  background-color: #0045ac;
}

#reportIcon {
  border-radius: 100px;
}

.imageSubredditSpanContainer {
  margin-top: 15px;
}

#meIrl {
  color: white;
  font-size: 12px;
}
