#accordianPopular {
  border-radius: 25px;
}

#seeMore {
  display: flex;
  flex-direction: row;
}

#popularCommunitiesAccordianSummary {
  border-radius: 25px;
}

.borderTest {
  border-radius: 15px;
}
