#createPostComponent {
  width: 100%;
  background-color: #1a1a1b;
  height: 260px;
  margin-top: 16px;
}

#createPostComponentBackgroundImg {
  background-image: url(https://www.redditstatic.com/desktop2x/img/id-cards/banner@2x.png);

  background-size: cover;

  height: 34px;

  width: 100%;
}

#createPostComponentSubreddit {
  margin-top: -23px;
  padding: 0 12px 0 12px;
  display: flex;
  justify-items: center;
  align-items: center;
}

#createPostComponentSnoo {
  background: url("https://www.redditstatic.com/desktop2x/img/id-cards/snoo-home@2x.png");
  background-size: 40px 68px;
  height: 68px;
  width: 40px;
}

#createPostComponentTextSection {
  margin-top: 30px;
  margin-left: 10px;
}

#createPostComponentText {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  color: white;
}

#subRedditDescriptionTextSection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 8px;
}

#subRedditDescriptionText {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: white;
}

#subRedditDescriptionTextLine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 15.5px;
}

#lineSeperator {
  background-color: white;
  border: none;
  height: 1px;
  color: white;
  margin: 5px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#createPostComponentButtonGroup {
  display: flex;
  flex-direction: column;
}
#premiumComponentButtonSection {
  width: 286px;
}

#createPostButton {
  --buttonText: #fff;
  position: flex;
  justify-content: center;
  background-color: #d7dadc;

  color: black;

  width: 254px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 9999px;
  margin: 7px;
}

#createCommunityButton {
  --buttonText: #fff;
  position: flex;
  justify-content: center;
  background-color: #1a1a1b;

  color: var(--buttonText);

  width: 254px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 9999px;
  margin: 7px;
}
